.grid{
    margin-bottom:1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* transform: scale(3); */
    gap:4px;
}
.common{
    width:5rem;
    height: 3rem;
    font-size:2rem;
    background-color: rgb(44, 43, 44);
    color: #f9f9f9;
    /* border: rgb(44, 43, 44); */
    border-radius:5px;
    text-align: center;
}
.common:hover{
    opacity: 0.8;
    cursor: pointer;
}
.color{
    background-color: #972b0f !important;
    }