.screen{
    background-color: #efeef3;
    color: #000;
    width: 21rem;
    height:6rem;
    margin:1.5rem;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px 0px rgb(138, 133, 133),
           inset 1px 0px 2px 0px rgb(138, 133, 133);
           display: flex;
           align-items: center;
           justify-content: end;
           padding:0 0.5rem;
           font-size:2.1rem;
           font-weight:500;
           word-break: break-all;
}